body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fff url("../images/loading-main.gif") no-repeat center center;
}

.center{
    width: 70%;
    margin: 0 auto;
    height: inherit;
    position: relative;
}
.clear{
    clear: both;
    float: none;
}
input:hover, textarea:hover,
input:focus, textarea:focus {
background-color:white;
}

/*HEADER*/
header{
    border-bottom: 5px solid #a31717;
}
/*header-top*/
.top-header{
    width: 100%;
    min-height: 4.63vh;
    box-sizing: border-box;
    background-color: #a31717;
    padding: 1.39vh 0;
    font-size: 0.94vw;
}
/*quick info part*/
.quick-info{
    float: right;
    color: #ffffff;
}
.quick-info span{
    margin-right:0.52vw;
}
.quick-info span:last-child{
    cursor: pointer;
    margin-left: 2.19vw;
}

/*header-bottom*/
.bottom-header{
    background-image: -moz-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(255,255,255) 100%);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.16);
    width:100%;
    height: 17.41vh;
}
.logo{
    display: inline-block;
}
.logo img {
    height: 17.5vh;
}
nav{
    float: right;
}
/*search tool*/

.button_box2 {
    /*margin:100px auto;*/
}
/*-------------------------------------*/
.cf:before, .cf:after{
    content:"";
    display:table;
}
.cf:after{
    clear:both;
}
.cf{
    zoom:1;
}
/*-------------------------------------*/

.form-wrapper-2 {
    width: 330px;
    /*padding: 15px;*/
}
.form-wrapper-2 input {
    width: 240px;
    height: 40px;
    padding: 10px 5px;
    float: left;
    font: bold 15px 'Raleway', sans-serif;
    border: 0;
    background: #eee;
}

.form-wrapper-2 input:focus {
    outline: 0;
    background: #fff;
    -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
.form-wrapper-2 input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
.form-wrapper-2 input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
.form-wrapper-2 input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
.form-wrapper-2 button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 90px;
    font: bold 15px/40px 'Raleway', sans-serif;
    color: #fff;
    text-transform: uppercase;
    background: #8e9693;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}
.form-wrapper-2 button:hover{
    background: #a31717;
}
.form-wrapper-2 button:active,
.form-wrapper-2 button:focus{
    background: #c42f2f;
}
.form-wrapper-2 button:before {
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    top: 12px;
    left: -6px;
}
.form-wrapper-2 button:hover:before{
    /*border-right-color: #a31717;*/
}
.form-wrapper-2 button:focus:before{
    /*border-right-color: #c42f2f;*/
}
.form-wrapper-2 button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

div.search-bar{
    position: absolute;
    top: 0;
    right: 0;
    /*width: 15.63vw;*/
    /*height: 4.26vh;*/
    background-color: #bfbebe;
}

/*********************MENU**************************************/
div.bottom-header .center{
    position: relative;
}
nav.menu{
    position: absolute;
    bottom: 0;
    right: 0;
}
nav.menu a{
    /*display: inline-block;*/
    float: left;
    padding: 0 1.58vw;
    text-align: center;
    text-decoration: none;
    font-size: 2.21vh;
    color:#7d7d7d;
    line-height: 2.412;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
    border-bottom: 5px solid transparent;
    border-right: 1px solid #D4D4D4;

}

nav.menu a:last-child{
    border-right: none;
}
nav.menu a:hover{
    background-color: white;
    border-bottom: 5px solid #bb1d1d;
    /*border-box:box-sizing;*/
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.16);
    color:#bb1d1d ;
}
nav.menu a span{
    display: block;
    font-size: 2.59vh;

}


/**FULL WIDTH PHOTO**/
.full-width-photo{
    width: 100%;
    height: 77.78vh;
    background: url("../images/bg.png") no-repeat center;
    background-size: cover;
    position: relative;
}
.full-width-photo .center .naslov{
    text-align: center;
    padding-top: 12.04vh;
}
.full-width-photo .center .naslov h1{

    font-size: 48px;
    color: rgb(187, 29, 29);
    line-height: 0.75;
    font-weight: 900;

}
.full-width-photo .center .naslov p{
    font-size: 24px;
    line-height: 0.75;
    margin-top: 20px;
}
.full-width-photo .center .naslov img{
    width: 4.78vw;
    margin-top: 6.48vh;
}
/*SUBSCRIPTION PART*/

div.subscription{
    width: 100%;
    /*height: 18.7vh;*/
    background-color: rgb(3, 3, 3);
    opacity: 0.561;
    position: absolute;
    bottom: 0;
    padding-top: 4.63vh;
    box-sizing: border-box;
}
div.subscription div.center{
    text-align: center;
}


div.subscription div.center p{
    color: #ffffff;
    font-size:1.04vw;
    line-height: 3.55;
}
div.subscription div.center form{
    /*position: relative;*/
    /*left:15.44vw;*/
}

div.subscription div.center form p{
    display: inline-block;
    width: 500px;
}

    #subscription{
        background-image: url("../images/email.png");
        background-size: 20px 20px;
        background-position: 11px;
        background-repeat: no-repeat;
    }

    #subscription:focus{
        background-image:  url("../images/email.png");
        background-size: 20px 20px;
        background-position: 11px;
        background-repeat: no-repeat;
    }


button.submit{
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom: 3px solid transparent ;
    border-right-width: 0px;
    padding-top: 0px;
    display: inline-block;
    height: 53px;
    width: 100px;

}
button.submit .fa {
    font-size:24px;
    transition: all 0.3s ease-in-out;
}
button.submit:hover .fa{
    color: #404040;
    transform: scale(1.5);/*zoom effect*/
}
/***ZA NAS SECTION **/
section.zanas{
    width: 100%;
    height: auto;
    background-color: #ebebeb;
    text-align: center;
    position: relative;
}
    .zanas .center h1{
        width: 10vw;
        font-size: 1.88vw;
        font-weight: bold;
        color: #aaaaaa;
        line-height: 0.571;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
        border-bottom:5px solid darkred ;
        letter-spacing: 2px;
        margin: 0 auto 6.94vh auto;
        padding: 9.26vh 0 2.31vh 0;
        text-transform: uppercase;
        /*box-shadow:0px 5px 1px 0px rgba(0, 0, 0, 0.16);*/
    }
    .zanas-info{
        width: 80%;
        font-size: 1.25vw;
        color: #aaaaaa;
        line-height:1.5;
        margin: auto;
        padding-bottom: 25vw;

    }
        .zanas-info span{
            font-weight: bold;
            font-style: italic;
        }
    .zanas .center img{
        width: 25vw;
        position: absolute;
        bottom: 0;
        left:15.5vw;
        z-index: 1;
    }

/***RED SECTION ICONS***/
div.red-icons{
    width: 100%;
    height: 28vh;
    background: url("../images/bg-red-icons.png") no-repeat center;
    background-size: cover;
    text-align: center;
}
div.red-icons div.center div{
    width: 33%;
    height: 28vh;
    float: left;
    padding-top: 4.26vh;
    box-sizing: border-box;
    text-align: center;
}
div.red-icons div.center div img{
    width:6.25vw;
    transition: all 0.5s ease-in-out;

}
div.red-icons div.center div img:hover{
    transform: scale(1.5);/*zoom effect*/
}

div.red-icons div.center div span{
    display: block;
    width: 13.53vw;
    font-size: 1.25vw;
    color: rgb(255, 255, 255);
    font-variant: small-caps;
    line-height: 1.5;
    text-align: center;
    margin: 0 auto;
    padding: 2.78vh 0;
   letter-spacing: 0.1vw;
}
/***USLUGI SECTION **/
section.uslugi{
    width: 100%;
    background-color: #ebebeb;
    text-align: center;
}

    .uslugi .center h1{
        width: 10vw;
        font-size: 1.88vw;
        font-weight: bold;
        color: #aaaaaa;
        line-height: 0.571;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
        border-bottom:5px solid darkred ;
        letter-spacing: 2px;
        margin: 0 auto 6.94vh auto;
        padding: 9.26vh 0 2.31vh 0;
        text-transform: uppercase;
        /*box-shadow:0px 5px 1px 0px rgba(0, 0, 0, 0.16);*/
    }
        .uslugi-info{
            width: 80%;
            font-size: 1.25vw;
            color: #aaaaaa;
            line-height:1.5;
            margin: 0 auto 13.89vh auto;
        }
            .uslugi-info span{
                font-weight: bold;
                font-style: italic;
            }

div.uslugi-sliki div{
    display: inline-block;
    width: 33%;
}
    div.uslugi-sliki div span{
        font-size: 1.25vw;
        color: #aaaaaa;
        text-transform: uppercase;
        line-height: 2;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004)
    }

    div.uslugi-sliki div img{
       width:  20vw;
        margin: 7.41vh 0;
    }


/**********Proekti********/
section.proekti{
    background:url("../images/proekt_bg.png")no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
}
.proekti .center h1{
    width: 10vw;
    font-size: 1.88vw;
    font-weight: bold;
    color: #aaaaaa;
    line-height: 0.571;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
    border-bottom:5px solid darkred ;
    letter-spacing: 2px;
    margin: 0 auto 6.94vh auto;
    padding: 9.26vh 0 2.31vh 0;
    text-transform: uppercase;

}
    .proekti .center div.container{

        width: 100%;

    }
    .proekti .center div.container div{
        width:25%;
        float: left;
    }


        .proekti .center img{
            width: 4.5vw;
            display: block;
            margin:auto;
            padding: 7.4vh 0;
        }
    .proekti .center .grupi-proekti span{
        float: left;
        text-align: center;
        width: 25%;
        color: #fff;
        font-size: 24px;
    }


/******proizvodi*************/
section.proizvodi{
    background-color: #ebebeb;
    text-align: center;
    padding-bottom: 75px;
}
    .proizvodi .center h1{
    width: 14.85vw;
    font-size: 1.88vw;
    font-weight: bold;
    color: #aaaaaa;
    line-height: 0.571;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
    border-bottom:5px solid darkred ;
    letter-spacing: 2px;
    margin: 0 auto 6.94vh auto;
    padding: 9.26vh 0 2.31vh 0;
    text-transform: uppercase;
    /*box-shadow:0px 5px 1px 0px rgba(0, 0, 0, 0.16);*/
    }
        .proizvodi-info{
            width: 80%;
            font-size: 1.25vw;
            color: #aaaaaa;
            line-height:1.5;
            margin: auto;
            padding-bottom: 75px;
        }
        .proizvodi-info span{
            font-weight: bold;
            font-style: italic;
        }

/**********************************************************************************
SEND US MESSAGE
***********************************************************************************/
#form-main{
    width:100%;
    height: 500px;
    padding-top:30px;
    background: url("../images/bg-contact.jpg")no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

#form-div {
    background-color:rgba(72,72,72,0.4);
    padding:35px;
    margin: 0 auto;
    width: 450px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.feedback-input {
    color:#3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
    background: #fff;
    box-shadow: 0;
    border: 3px solid #a31717;
    color: #a31717;
    outline: none;
    padding: 13px 13px 13px 54px;
}

.focused{
    color: #8c0000;
    border: #8c0000 solid 3px;
}

/* Icons ---------------------------------- */
#name{
    background-image: url("../images/name.png");
    background-size: 20px 20px;
    background-position: 11px;
    background-repeat: no-repeat;
}

#name:focus{
    background-image:url("../images/name.png");
    background-size: 20px 20px;
    background-position: 11px ;
    background-repeat: no-repeat;
}

#email{
    background-image: url("../images/email.png");
    background-size: 20px 20px;
    background-position: 11px;
    background-repeat: no-repeat;
}

#email:focus{
    background-image:  url("../images/email.png");
    background-size: 20px 20px;
    background-position: 11px;
    background-repeat: no-repeat;
}

#comment{
    background-image:  url("../images/comment.png");
    background-size: 20px 20px;
    background-position: 11px 14px ;
    background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

/*input:hover, textarea:hover,*/
/*input:focus, textarea:focus {*/
    /*background-color:white;*/
/*}*/

#button-blue{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    float:left;
    width: 100%;
    border: #fbfbfb solid 4px;
    cursor:pointer;
    background-color: #8c0000;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

#button-blue:hover{
    background-color: rgba(0,0,0,0);
    color: #8c0000;
}

.submit:hover {
    color: #8c0000;
}

.ease {
    width: 0px;
    height: 50px;
    background-color: #fbfbfb;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
}

.submit:hover .ease{
    width:100%;
    background-color:white;
}

@media only screen and (max-width: 580px) {
    #form-div{
        left: 3%;
        margin-right: 3%;
        width: 88%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
}

/***************************************************************************************
                                    KONTAKT
*******************************************************************************************/

section.kontakt{
    width: 100%;
    position: relative;
}

    section.kontakt > div{
        float: left;
        width: 50%;
        /*height: 550px;*/
    }
    /*div.map{*/
        /*height: 550px;*/
    /*}*/
    div.map iframe{
            width: 100%;
            height: 550px;
            background-color: #CCC;
        }
    div.kontakt-info{
       background: url("../images/bg.png") center no-repeat;
        padding: 90px 0px;
    }
    /*div.kontakt-info .center div{*/
        /*float: left;*/
        /*width: 50%;*/
    /*}*/
    div.informacii p{
        padding-bottom: 50px;
        font-size: 1.25vw;
        color:rgba(0,0,0,.8);
        line-height: 1.5;
    }
    div.informacii p i{
        padding-right: 28px;
        color: #8c0000;
    }
    div.informacii p span {

        float: left;
    }
    div.informacii p span.text{
        padding-bottom: 45px;
    }

/*footer*/
footer{
    text-align: center;
    background-color: #ebebeb;
    color: #000;
    padding:5px 0;
    font-size: 0.8vw;
}
    footer span{
        display: block;
        padding-top: 20px;
    }
    footer a img{
        border-radius: 100%;
        padding: 7px;
        background: rgb(142, 150, 147);
        transition: background 0.2s, color 0.2s;
    }
    footer a img:hover{
        background: rgb(64, 64, 64);
        transform: scale(1.2);

    }
    footer a img:hover:before{
        animation: spinAround 2s linear infinite;
    }
    @keyframes spinAround {
        from {
            transform: rotate(0deg)
        }
        to {
            transform: rotate(360deg);
        }
    }

/*BOOTSTRAP MODAL*/
#myModal .modal-dialog  {width:75%;}

