body{
    font-family: 'Roboto', sans-serif;
}
.center{
    width: 70%;
    margin: 0 auto;
    height: inherit;
    position: relative;
}
.clear{
    /*clear: both;*/
    /*float: none;*/
}

/*HEADER*/
header{
    border-bottom: 5px solid #a31717;
}
/*header-top*/
.top-header{
    width: 100%;
    min-height: 4.63vh;
    box-sizing: border-box;
    background-color: #a31717;
    padding: 1.39vh 0;
    font-size: 0.94vw;
}
/*quick info part*/
.quick-info{
    float: right;
    color: #ffffff;
}
.quick-info span{
    margin-right:0.52vw;
}
.quick-info span:last-child{
    cursor: pointer;
    margin-left: 2.19vw;
}

/*header-bottom*/
.bottom-header{
    background-image: -moz-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(215,215,215) 0%, rgb(255,255,255) 100%);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.16);
    width:100%;
    height: 17.41vh;
}
.logo{
    display: inline-block;
}
.logo img {
    height: 17.5vh;
}
nav{
    float: right;
}
/*search tool*/
div.search-bar{
    position: absolute;
    top: 0;
    right: 0;
    width: 15.63vw;
    height: 4.26vh;
    background-color: #bfbebe;


}
/*********************MENU**************************************/
div.bottom-header .center{
    position: relative;
}
nav.menu{
    position: absolute;
    bottom: 0;
    right: 0;
}
nav.menu a{
    /*display: inline-block;*/
    float: left;
    padding: 0 1.58vw;
    text-align: center;
    text-decoration: none;
    font-size: 2.21vh;
    color:#7d7d7d;
    line-height: 2.412;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
    border-bottom: 5px solid transparent;
    border-right: 1px solid #D4D4D4;

}

nav.menu a:last-child{
    border-right: none;
}
nav.menu a:hover{
    background-color: white;
    border-bottom: 5px solid #bb1d1d;
    /*border-box:box-sizing;*/
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.16);
    color:#bb1d1d ;
}
nav.menu a span{
    display: block;
    font-size: 2.59vh;

}


/**FULL WIDTH PHOTO**/
.full-width-photo{
    width: 100%;
    height: 77.78vh;
    background: url("../images/bg.png") no-repeat;
    background-size: cover;
    position: relative;
}
.full-width-photo .center .naslov{
    text-align: center;
    padding-top: 12.04vh;
}
.full-width-photo .center .naslov h1{

    font-size: 48px;
    color: rgb(187, 29, 29);
    line-height: 0.75;
    font-weight: 900;

}
.full-width-photo .center .naslov p{
    font-size: 24px;
    line-height: 0.75;
    margin-top: 20px;
}
.full-width-photo .center .naslov img{
    width: 4.78vw;
    margin-top: 6.48vh;
}
/*SUBSCRIPTION PART*/

div.subscription{
    width: 100%;
    height: 18.7vh;
    background-color: rgb(3, 3, 3);
    opacity: 0.561;
    position: absolute;
    bottom: 0;
    padding-top: 4.63vh;
    box-sizing: border-box;
}
div.subscription div.center{
    text-align: center;
}

div.subscription div.center p{
    color: #ffffff;
    font-size:1.04vw;
    line-height: 3.55;
}
div.subscription div.center form{
    position: relative;
    left:15.44vw;
}
div.input{
    text-align: center;
    height: 5.09vh;
    width: 31.25vw;
    display: inline-block;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    font-size:18px;
}
.input input {
    width: 26.51vw;
    border: none;
    outline: none;
    background-color: #fff;
    color: white;
    padding-top: 1.5vh;
    padding-left: 1.47vw;
}

button.submit{
    height: 5.09vh;
    width: 5.89vw;
}
button.submit .fa {
    font-size: 3.13vh;
    transition: all 0.3s ease-in-out;
}
button.submit:hover .fa{
    color: forestgreen;
    transform: scale(1.5);/*zoom effect*/
}
/***ZA NAS SECTION **/
section.zanas{
    width: 100%;
    height: 77.78vh;
    background-color: #ebebeb;
    text-align: center;
    position: relative;
}
    .zanas .center h1{
        width: 8.85vw;
        font-size: 1.88vw;
        font-weight: bold;
        color: #aaaaaa;
        line-height: 0.571;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
        border-bottom:5px solid darkred ;
        letter-spacing: 2px;
        margin: 0 auto 6.94vh auto;
        padding: 9.26vh 0 2.31vh 0;
        text-transform: uppercase;
        /*box-shadow:0px 5px 1px 0px rgba(0, 0, 0, 0.16);*/
    }
    .zanas-info{
        width: 80%;
        font-size: 1.25vw;
        color: #aaaaaa;
        line-height:1.5;
        margin: auto;
    }
        .zanas-info span{
            font-weight: bold;
            font-style: italic;
        }
    .zanas .center img{
        width: 25vw;
        position: absolute;
        bottom: 0;
        left:15.5vw;
        z-index: 1;
    }

/***RED SECTION ICONS***/
div.red-icons{
    width: 100%;
    height: 28vh;
    background: url("../images/bg-red-icons.png") no-repeat center;
    background-size: cover;
    text-align: center;
}
div.red-icons div.center div{
    width: 33%;
    height: 28vh;
    float: left;
    padding-top: 4.26vh;
    box-sizing: border-box;
    text-align: center;
}
div.red-icons div.center div img{
    width:6.25vw;
    transition: all 0.5s ease-in-out;

}
div.red-icons div.center div img:hover{
    transform: scale(1.5);/*zoom effect*/
}

div.red-icons div.center div span{
    display: block;
    width: 13.53vw;
    font-size: 1.25vw;
    color: rgb(255, 255, 255);
    font-variant: small-caps;
    line-height: 1.5;
    text-align: center;
    margin: 2.78vh auto;
   letter-spacing: 0.1vw;
}
/***USLUGI SECTION **/
section.uslugi{
    width: 100%;
    background-color: #ebebeb;
    text-align: center;
}

    .uslugi .center h1{
        width: 8.85vw;
        font-size: 1.88vw;
        font-weight: bold;
        color: #aaaaaa;
        line-height: 0.571;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
        border-bottom:5px solid darkred ;
        letter-spacing: 2px;
        margin: 0 auto 6.94vh auto;
        padding: 9.26vh 0 2.31vh 0;
        text-transform: uppercase;
        /*box-shadow:0px 5px 1px 0px rgba(0, 0, 0, 0.16);*/
    }
        .uslugi-info{
            width: 80%;
            font-size: 1.25vw;
            color: #aaaaaa;
            line-height:1.5;
            margin: 0 auto 13.89vh auto;
        }
            .uslugi-info span{
                font-weight: bold;
                font-style: italic;
            }

div.uslugi-sliki div{
    display: inline-block;
    width: 33%;
}
    div.uslugi-sliki div span{
        font-size: 1.25vw;
        color: #aaaaaa;
        text-transform: uppercase;
        line-height: 2;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004)
    }

    div.uslugi-sliki div img{
       width:  20vw;
        margin: 7.41vh 0;
    }


/**********Proekti********/
section.proekti{
    background:url("../images/proekt_bg.png")no-repeat ;
    background-size: cover;
    min-height: 87.41vh;
}
.proekti .center h1{
    width: 8.85vw;
    font-size: 1.88vw;
    font-weight: bold;
    color: #aaaaaa;
    line-height: 0.571;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
    border-bottom:5px solid darkred ;
    letter-spacing: 2px;
    margin: 0 auto 6.94vh auto;
    padding: 9.26vh 0 2.31vh 0;
    text-transform: uppercase;
    /*box-shadow:0px 5px 1px 0px rgba(0, 0, 0, 0.16);*/
}
    .proekti .center div{
        /*/!*background-color: #5aff16;*!/only for testing*/
        width: 50%;
        float: left;
    }
        .proekti .center div.left span{
            display: block;
            text-align: right;
            font-size: 1.5vw;
            color:#ffffff;
            font-weight: bold;
            line-height: 0.571;
            margin-bottom: 6.25vw;
            margin-right: 2.4vw;
        }
        .proekti .center div.left span:last-child{
            margin-bottom: 0;
        }

        .proekti .center img{
            width: 4.5vw;
            display: block;
            margin:auto;
            padding-top: 7.4vh;
        }

        .proekti .center div.right div{
            float: none;
            margin-bottom: 6.25vw;
            font-size: 1.5vw;
            color:#ffffff;
            font-weight: bold;
            line-height: 0.571;
        }
        .proekti .center div.right div:last-child{
             margin-bottom: 0;

         }






/******proizvodi*************/
section.proizvodi{
    background-color: #ebebeb;
    text-align: center;
}
    .proizvodi .center h1{
    width: 14.85vw;
    font-size: 1.88vw;
    font-weight: bold;
    color: #aaaaaa;
    line-height: 0.571;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
    border-bottom:5px solid darkred ;
    letter-spacing: 2px;
    margin: 0 auto 6.94vh auto;
    padding: 9.26vh 0 2.31vh 0;
    text-transform: uppercase;
    /*box-shadow:0px 5px 1px 0px rgba(0, 0, 0, 0.16);*/
    }
        .proizvodi-info{
            width: 80%;
            font-size: 1.25vw;
            color: #aaaaaa;
            line-height:1.5;
            margin: auto;
        }
        .proizvodi-info span{
            font-weight: bold;
            font-style: italic;
        }


/***************kontakt*************/

section.kontakt{
    width: 100%;
    /*height: 107.69vh;*/
    position: relative;
}
    div.map{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    div.map iframe{
            width: 100%;
            height: 750px;
            background-color: #CCC;
        }
    div.kontakt-info{
        width:100%;
        /*height: 66.39vh;*/
        background-color: rgba(0,0,0,.7); /*check the color*/
        position: absolute;
        bottom:0;
        padding-top: 14.26vh;
    }
    div.kontakt-info .center div{
        float: left;
        width: 50%;
    }
    div.informacii p{
        margin-bottom: 5.19vh;
        font-size: 1.25vw;
        color:#fff;
        line-height: 1.5;
    }
    div.informacii p span{
        padding-right: 1.3vw;
    }
    div.informacii p span i{
        color:#8c0000;
    }

/*footer*/
footer{
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    padding:2.78vh 0;
    font-size: 0.8vw;
}