/*
font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;
*/
body{
	margin: 0px;
	padding: 0px;
}
section.splash{

	width: 100%;
	height:605px;
	background-color: #2f3030;
	color: #fff;
}
	section.splash span{
		font-size:16px;
		font-family: 'Lato', sans-serif;
		display: block;
		text-align: center;
	}

	section.splash h1{
		font-size: 50px;
		text-align: center;
		text-transform: uppercase;
		font-family: 'Lato', sans-serif;
		margin: 34px auto;
	}
	section.splash a{
		color:#fff;
		font-family: 'Lato', sans-serif;
		text-decoration: none;
		display: block;
		width: 240px;
		height: 50px;
		border:1px solid #fff;
		font-size: 14px;
		text-transform: uppercase;
		text-align: center;
		box-sizing: border-box;/*za button da si ja zadrzi goleminata*/
		padding-top: 10px;
		margin: 0px auto;

	}
	span.greeting{
		padding-top: 161px;
	}
	span.slogan{
		margin-bottom: 78px;
	}

nav.main{
	width: 100%;
	height: 109px;
	text-align: center;
}
	nav.main a{
		font-size: 14px;
		color: #7f8c8d;
		text-transform: uppercase;
		font-family: 'Lato', sans-serif;
		text-decoration: none;
		display: inline-block;
		/*width: 150px;*/
		width: 10%;
		position: relative;
		top:-10px;
	}
	nav.main a:hover{
		color:#2980b9;
	}
	nav.main h2{
		display: inline-block;
		width: 150px;
		font-family: 'Lato', sans-serif;
		font-size: 40px;
		margin:32px 0 0 0;

	}
.info-box {
    background-color: #ecf0f1;
    width: 100%;
    min-height: 435px;
}
 .info-box h2, .clients h2 {
     font-size: 44px;
     font-family:'Lato', sans-serif;
     color: #000000;
     font-weight: normal;
     text-align: center;
}


    .info-box h2{
        text-align: center;
        padding-top: 61px;

    }
    .info-box hr{
        opacity: 0.302;
        text-align: center;
        margin-top:35px;
        width: 151px;
        height: 1px;

    }
    .info-box .text1{
        font-size: 14px;
        font-family:'Open Sans', sans-serif;
        color:#616060;
        line-height: 1.571;
        text-align: center;
        margin: 35px auto;
        width: 749px;
        height: 36px;

    }
    .lista{
        margin-top: 86px;
        text-align: center;
        /*margin-left: auto;*/
        /*margin-right: auto;*/
    }
    .info-box .lista li{
        float: left;
        list-style: none;

    }
    .lista li a{
        color: #000;
    }
    .lista li a:hover{
        color:#2980b9 ;
    }

    .info-box  .fa-bar-chart{

        margin-left: 341px;
        width: 32px;
        height: 32px;

        }
    .info-box .fa-map-marker {

        /*margin-left: 482px;*/
        padding-left: 100px;
        width: 24px;
        height: 32px;

    }
    .info-box .fa-map-o{


        /*margin-left: 607px;*/
        padding-left: 100px;
        width: 48px;
        height: 48px;
        z-index: 37;
    }
    .info-box .fa-list-ul{

        /*margin-left: 751px;*/
        padding-left: 100px;

        width: 32px;
        height: 32px;

    }
    .info-box .fa-user{

        /*margin-left: 888px;*/
        padding-left: 100px;
        width: 33px;
        height: 32px;

    }


.content .clients {
    min-height: 465px;
    background-color: #fff;
}
.clients h2{
    text-align: center;

}
.clients p{
    font-size: 14px;
    font-family: 'OpenSans',sans-serif;
    color: #606060;
    line-height: 1.571;
    text-align: center;
    width: 710px;
    height: 36px;
    margin:35px auto;

}
.clients hr{
    opacity: 0.302;
    text-align: center;
    margin-top:35px;
    width: 151px;
    height: 1px;


}


footer{
    min-height: 60px;
    width: 100%;
    background-color: #000;
}

    .socialmedia{
       list-style: none;
       padding-top: 20px;
    }
    .socialmedia li{
        float: left;
        width: 2%;
    }
    .socialmedia li a{
        color: #626262;
    }
    .socialmedia li a:hover{
        color: #2980b9;
    }

    /*.fa-twitter{*/
        /*position: absolute;*/
        /*left: 149px;*/
        /*top: 1637px;*/
        /*width: 24px;*/
        /*height: 19px;*/
        /*z-index: 7;*/
    /*}*/
    /*.fa-facebook{*/
        /*position: absolute;*/
        /*left: 192px;*/
        /*top: 1637px;*/
        /*width: 10px;*/
        /*height: 18px;*/
        /*z-index: 8;*/
    /*}*/
    /*.fa-google-plus{*/
        /*position: absolute;*/
        /*left: 224px;*/
        /*top: 1637px;*/
        /*width: 19px;*/
        /*height: 18px;*/
        /*z-index: 11;*/
    /*}*/
    /*.fa-pinterest-p{*/
        /*position: absolute;*/
        /*left: 261px;*/
        /*top: 1637px;*/
        /*width: 15px;*/
        /*height: 18px;*/
        /*z-index: 9;*/
    /*}*/
    /*.fa-rss{*/
        /*position: absolute;*/
        /*left: 296px;*/
        /*top: 1637px;*/
        /*width: 19px;*/
        /*height: 19px;*/
        /*z-index: 10;*/
    /*}*/

.slider{
    list-style: none;
    text-align: center;
    margin-top: 70px;
    width: 100%;
}
.slider li {
    display: inline-block;
    }
    img{

    }

footer .copyrights  {
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    color: #666666;
    line-height: 1.5;
    text-align: right;
}


